.Score {
	display: flex;
	flex-direction: row;
	font-size: 1.8rem;
	padding: 0.2em;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.Answered {
	color: #fcdc73;
}
.NotAnswered {
	color: #ffffff;
}
