.Container {
	width: 100%;
	padding: 2em 0;
	background-color: #0a0a0ac8;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 70%;
	left: 50%;
	filter: drop-shadow(0 0 0.5rem #0b0b0b);
	display: flex;
	flex-direction: row;
	justify-content: center;
	backdrop-filter: blur(4px);
	z-index: 2;
}

.Player_Container {
	gap: 2em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-width: 810px;
	width: 40vw;
}

.Answer_Container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: space-evenly;
}
