.AnswerContainer {
	font-size: 1.3rem;
	color: #ffffff;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 0.7em;
	width: calc(49% - 5em);
	height: 1.5em;
	overflow-wrap: normal;
	align-items: center;
	justify-content: center;
	display: flex;
	background: rgb(0, 15, 130);
	background: radial-gradient(circle, rgba(0, 15, 130, 1) 0%, rgba(0, 3, 27, 1) 100%);
	border-style: solid;
	border-width: 0.15em;
	border-radius: 2em;
}

.Line {
	background-color: #ffffff;
	height: 0.15em;
	width: 40%;
	position: absolute;
	z-index: -1;
	border-radius: 100%;
}

.NotSelected {
	border: #ffffff;
	border-style: solid;
	border-width: 0.15em;
}

.Selected {
	border: #dab212;
	border-style: solid;
	border-width: 0.15em;
}

.Bad {
	border: #ce2727;
	border-style: solid;
	border-width: 0.15em;
}

.Good {
	border: #60cd51;
	border-style: solid;
	border-width: 0.15em;
}
